<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Scavenger Hunt</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" 
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" 
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    </head>

<body>
    <label for="selfies">Choose a selfie:</label> 
    <select onchange="document.getElementById('image').src = this.value" name="selfies" id="selfies"> 
    {% for key, url in urls.items()  %}
        <option value= {{ url }}>{{ key }}</option> 
    {% endfor %}
    </select>
    <br>
    <img id='image' height="250px" src = "https://i.ibb.co/PtFTSRy/output-01.jpg">
    <div id="output"></div>
    <a href="http://www.google.com" id="link" hidden target="_blank" rel="noopener noreferrer">View this location on google maps</a>
    <div id="mapid"></div>
    <script>
        var map = L.map('mapid').setView([35.4444,139.6329], 16);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19, 
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        L.control.scale().addTo(map);
        var boundary = L.geoJSON.addTo(map);
        boundary.addData(JSON.parse({{ boundary | tojson | safe}})

        var marker = L.marker()

        function addMarker(e) {
            console.log(e.latlng)
            $.ajax({
                url: '/linkstreetview',
                type: 'POST',
                contentType: 'applicaton/json',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json' 
                },
                data: JSON.stringify([e.latlng, document.getElementById('selfies').value]),
                dataType: 'json',
                success: function(response) {
                    document.getElementById('output').innerHTML = JSON.stringify(response.result);
                    document.getElementById('link').href=response.map_url;
                    document.getElementById('link').style.display = "block";
                },
                error: function(error){
                    console.log(error);
                }
            });
            marker 
                .setLatLng(e.latlng)
                .addTo(map)
                .bindPopup("popup")
        }
        map.on('click', addMarker)
    </script>
</body>
</html>
